In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("transactions.csv")
df

,t_date,cust_id,t_amt,services,products_used,city,state,t_details
0,06-26-2015,4007024,40.33,Exercise & Fitness,Cardio Machine Accessories,Clarksville,Tennessee,credit
1,05-26-2015,4006742,198.44,Exercise & Fitness,Weightlifting Gloves,Long Beach,California,credit
2,06-01-2015,4009775,5.58,Exercise & Fitness,Weightlifting Machine Accessories,Anaheim,California,credit
3,06-05-2015,4002199,198.19,Gymnastics,Gymnastics Rings,Milwaukee,Wisconsin,credit
4,12-17-2015,4002613,98.81,Team Sports,Field Hockey,Nashville,Tennessee,credit
...,...,...,...,...,...,...,...,...
49995,09-18-2015,4005664,53.95,Games,Dice Games,Irving,Texas,credit
49996,10-02-2015,4007287,163.81,Games,Poker Chips & Sets,Kansas City,Missouri,credit
49997,05-03-2015,4003954,35.85,Racquet Sports,Squash,New Orleans,Louisiana,cash
49998,10-23-2015,4007843,180.41,Gymnastics,Vaulting Horses,Berkeley,California,credit
49999,12-14-2015,4001406,168.49,Team Sports,Team Handball,Rockford,Illinois,credit

In [3]:
# what is the  total sales amount across all transactions?
total_sales = df["t_amt"].sum()
print(total_sales)

5110820.54

In [4]:
df['t_date'] = pd.to_datetime(df['t_date'])
df['Month'] = df['t_date'].dt.month
df['MonthName'] = df['t_date'].dt.strftime('%B')
df['Quarter'] = df['t_date'].dt.quarter

In [5]:
# Find the month with the highest total transaction amount
c=df.groupby('MonthName')['t_amt'].sum()
print(c.idxmax())

March

In [6]:
# Calculate average transaction amount per customer
d=df.groupby('cust_id')['t_amt'].mean()
print(d)

cust_id
4000000    127.444000
4000001    108.945556
4000002     56.165000
4000003    123.670000
4000004    168.135000
              ...
4009995     65.018571
4009996    104.515000
4009997    121.547500
4009998    110.950000
4009999     85.252500
Name: t_amt, Length: 9926, dtype: float64

In [7]:
# trend of total sales over months
trend= df.groupby("Month")["t_amt"].sum()
print(trend)

Month
1     438165.76
2     395262.37
3     444664.24
4     420695.24
5     432627.58
6     421074.55
7     439560.80
8     434255.01
9     429321.63
10    424856.28
11    408846.35
12    421490.73
Name: t_amt, dtype: float64

In [8]:
#Find the highest single transaction amount
df['t_amt'].max()

200.0

In [10]:
#Service category contributing most revenue
a=df.groupby('services')['t_amt'].sum()
print(a.idxmax())

Outdoor Recreation

In [11]:
#Product generating highest revenue
b=df.groupby('products_used')['t_amt'].sum()
print(b.idxmax())

Yoga & Pilates

In [15]:
#average transaction amount between services
c=df.groupby('services')['t_amt'].mean().sort_values(ascending=False)
print(c)

services
Exercise & Fitness        103.660247
Racquet Sports            103.647461
Air Sports                103.455104
Indoor Games              103.074684
Dancing                   102.907512
Team Sports               102.738998
Gymnastics                102.385901
Games                     102.272968
Jumping                   102.155171
Water Sports              101.899975
Outdoor Play Equipment    101.281196
Winter Sports             101.217718
Combat Sports             101.061761
Outdoor Recreation        100.999480
Puzzles                   100.595997
Name: t_amt, dtype: float64

In [16]:
#Number of unique customers
df['cust_id'].nunique()

9926

In [17]:
#Customers who spent most overall
df.groupby('cust_id')['t_amt'].sum().sort_values(ascending=False)

cust_id
4009485    1973.30
4006425    1732.09
4000221    1671.47
4003228    1640.63
4006606    1628.94
            ...
4000590       8.46
4002513       6.92
4005196       6.66
4000960       5.70
4007577       5.63
Name: t_amt, Length: 9926, dtype: float64

In [18]:
# Average number of transactions per customer
df.groupby('cust_id').size().mean()

np.float64(5.037275841225066)

In [19]:
#Customers who purchased from multiple services
df.groupby('cust_id')['services'].nunique().sort_values(ascending=False)

cust_id
4009101    11
4006606    11
4002916    10
4005558    10
4000815    10
           ..
4008336     1
4004725     1
4008340     1
4000960     1
4002417     1
Name: services, Length: 9926, dtype: int64

In [20]:
#Percentage of repeat buyers
counts = df.groupby('cust_id').size()
((counts > 1).sum() / counts.count()) * 100

np.float64(96.5645778762845)

In [21]:
#Service with highest total sales
df.groupby('services')['t_amt'].sum().sort_values(ascending=False)

services
Outdoor Recreation        846678.64
Exercise & Fitness        766463.87
Team Sports               617461.38
Water Sports              531815.97
Games                     374932.70
Gymnastics                327225.34
Winter Sports             321973.56
Outdoor Play Equipment    294728.28
Indoor Games              288506.04
Jumping                   205842.67
Racquet Sports            166976.06
Combat Sports             164730.67
Air Sports                 99316.90
Puzzles                    61564.75
Dancing                    42603.71
Name: t_amt, dtype: float64

In [22]:
#Most popular services by transaction count
df['services'].value_counts()

services
Outdoor Recreation        8383
Exercise & Fitness        7394
Team Sports               6010
Water Sports              5219
Games                     3666
Gymnastics                3196
Winter Sports             3181
Outdoor Play Equipment    2910
Indoor Games              2799
Jumping                   2015
Combat Sports             1630
Racquet Sports            1611
Air Sports                 960
Puzzles                    612
Dancing                    414
Name: count, dtype: int64

In [23]:
#Most frequently purchased product per service
df.groupby(['services','products_used']).size().sort_values(ascending=False)

services                products_used
Outdoor Recreation      Lawn Games                    466
Outdoor Play Equipment  Swing Sets                    464
Outdoor Recreation      Golf                          452
Exercise & Fitness      Cardio Machine Accessories    445
                        Yoga & Pilates                444
                                                     ...
Water Sports            Kitesurfing                   357
Outdoor Recreation      Disc Golf                     357
Water Sports            Surfing                       354
Puzzles                 Mechanical Puzzles            215
Air Sports              Air Suits                     191
Length: 125, dtype: int64

In [25]:
# Average transaction amount per product
df.groupby('products_used')['t_amt'].mean()

products_used
Abdominal Equipment    105.362798
Air Hockey             103.775478
Air Suits              101.421832
Archery                 97.345564
Badminton              108.441138
                          ...
Wetsuits               102.042775
Whitewater Rafting     102.877744
Windsurfing            104.161453
Wrestling               97.895364
Yoga & Pilates         107.668784
Name: t_amt, Length: 125, dtype: float64

In [26]:
# Services where customers spend more on average
df.groupby('services')['t_amt'].mean().sort_values(ascending=False)

services
Exercise & Fitness        103.660247
Racquet Sports            103.647461
Air Sports                103.455104
Indoor Games              103.074684
Dancing                   102.907512
Team Sports               102.738998
Gymnastics                102.385901
Games                     102.272968
Jumping                   102.155171
Water Sports              101.899975
Outdoor Play Equipment    101.281196
Winter Sports             101.217718
Combat Sports             101.061761
Outdoor Recreation        100.999480
Puzzles                   100.595997
Name: t_amt, dtype: float64

In [27]:
#State with highest total sales
df.groupby('state')['t_amt'].sum().sort_values(ascending=False)

state
California              702346.23
Texas                   541267.24
Florida                 274858.95
Ohio                    188613.87
Oregon                  187052.05
Washington              181508.87
Colorado                178299.70
Tennessee               177685.79
Virginia                144447.26
Massachusetts           143744.66
New Jersey              136848.48
Illinois                134022.53
Missouri                132471.38
Arizona                 131291.33
Wisconsin               117144.18
Alabama                 116015.34
New York                 98755.56
Michigan                 98196.70
Nevada                   95418.42
South Carolina           94946.24
Kansas                   92713.35
Minnesota                92497.85
Utah                     92071.16
Nebraska                 91556.21
Connecticut              91083.70
Pennsylvania             90442.91
Kentucky                 90281.05
Georgia                  89437.01
North Carolina           87372.13
District of Columbia     49720.36
Louisiana                48836.11
Mississippi              47874.66
Oklahoma                 47668.08
Iowa                     46807.73
Idaho                    45031.14
Maryland                 44926.59
Indiana                  44615.71
Hawaii                   42950.01
Name: t_amt, dtype: float64

In [28]:
#City with highest number of transactions
df['city'].value_counts()

city
Pasadena            939
Columbia            920
Kansas City         912
Columbus            906
Buffalo             507
                   ...
Austin              410
West Valley City    409
Gilbert             400
Green Bay           231
Birmingham          214
Name: count, Length: 108, dtype: int64

In [29]:
#Average spending per transaction per state
df.groupby('state')['t_amt'].mean()

state
Alabama                 102.487049
Arizona                 102.172241
California              102.652182
Colorado                101.537415
Connecticut              99.982108
District of Columbia    103.800334
Florida                 103.136567
Georgia                 102.330675
Hawaii                  101.536667
Idaho                    98.969538
Illinois                100.166315
Indiana                 100.712664
Iowa                    103.100727
Kansas                  101.436926
Kentucky                104.130392
Louisiana               103.466335
Maryland                100.506913
Massachusetts           104.541571
Michigan                101.547777
Minnesota               103.465157
Mississippi             101.214926
Missouri                100.969040
Nebraska                101.955690
Nevada                  105.434718
New Jersey              103.438005
New York                100.259452
North Carolina          103.033172
Ohio                    101.350817
Oklahoma                104.995771
Oregon                  102.438143
Pennsylvania            102.776034
South Carolina          103.540065
Tennessee                99.265804
Texas                   101.379891
Utah                    104.507560
Virginia                104.976206
Washington              101.401603
Wisconsin               101.953159
Name: t_amt, dtype: float64

In [30]:
#Services popularity by state
df.groupby(['state','services']).size()

state      services
Alabama    Air Sports             21
           Combat Sports          44
           Dancing                 8
           Exercise & Fitness    160
           Games                  80
                                ...
Wisconsin  Puzzles                15
           Racquet Sports         34
           Team Sports           152
           Water Sports          126
           Winter Sports          64
Length: 570, dtype: int64

In [31]:
#States buying most Outdoor Recreation products
df[df['services']=='Outdoor Recreation'].groupby('state')['t_amt'].sum()

state
Alabama                  18197.03
Arizona                  24426.25
California              120605.09
Colorado                 27605.07
Connecticut              14592.22
District of Columbia      7046.35
Florida                  47959.38
Georgia                  15912.77
Hawaii                    7513.52
Idaho                     7885.45
Illinois                 22933.09
Indiana                   9677.66
Iowa                      7765.27
Kansas                   15869.04
Kentucky                 16532.71
Louisiana                 8480.19
Maryland                  8085.69
Massachusetts            26458.03
Michigan                 13883.05
Minnesota                17928.51
Mississippi               8201.95
Missouri                 22301.50
Nebraska                 14962.41
Nevada                   14427.91
New Jersey               22091.40
New York                 14393.36
North Carolina           14530.52
Ohio                     30917.35
Oklahoma                  6483.88
Oregon                   32892.83
Pennsylvania             15271.72
South Carolina           16050.35
Tennessee                31080.93
Texas                    81616.93
Utah                     14178.02
Virginia                 18931.03
Washington               29612.15
Wisconsin                19378.03
Name: t_amt, dtype: float64

In [32]:
#Compare California and Texas spending
df[df['state'].isin(['California','Texas'])].groupby('state')['t_amt'].mean()

state
California    102.652182
Texas         101.379891
Name: t_amt, dtype: float64

In [33]:
#Quarter with highest sales
df.groupby('Quarter')['t_amt'].sum().sort_values(ascending=False)

Quarter
3    1303137.44
1    1278092.37
2    1274397.37
4    1255193.36
Name: t_amt, dtype: float64

In [34]:
# Month-by-month total sales
df.groupby('Month')['t_amt'].sum()

Month
1     438165.76
2     395262.37
3     444664.24
4     420695.24
5     432627.58
6     421074.55
7     439560.80
8     434255.01
9     429321.63
10    424856.28
11    408846.35
12    421490.73
Name: t_amt, dtype: float64

In [35]:
#Total transactions per month
df.groupby('Month').size()

Month
1     4268
2     3834
3     4360
4     4175
5     4205
6     4171
7     4252
8     4250
9     4160
10    4181
11    3994
12    4150
dtype: int64

In [36]:
 #Check if sports equipment sales spike in certain months
df[df['services']=='Team Sports'].groupby('Month')['t_amt'].sum()

Month
1     52331.01
2     48418.82
3     55662.86
4     53772.54
5     52269.35
6     52236.93
7     48666.12
8     57153.34
9     53187.57
10    51594.81
11    45426.10
12    46741.93
Name: t_amt, dtype: float64

In [37]:
#Number of credit transactions
df[df['t_details']=='credit'].shape[0]

43151

In [38]:
# total revenue from credit transactions
df[df['t_details']=='credit']['t_amt'].sum()

np.float64(4923134.93)

In [39]:
#Average spending by payment method
df.groupby('t_details')['t_amt'].mean()

t_details
cash       27.403360
credit    114.090865
Name: t_amt, dtype: float64

In [40]:
# High-value states (focus marketing here)
df.groupby('state')['t_amt'].sum().sort_values(ascending=False)

state
California              702346.23
Texas                   541267.24
Florida                 274858.95
Ohio                    188613.87
Oregon                  187052.05
Washington              181508.87
Colorado                178299.70
Tennessee               177685.79
Virginia                144447.26
Massachusetts           143744.66
New Jersey              136848.48
Illinois                134022.53
Missouri                132471.38
Arizona                 131291.33
Wisconsin               117144.18
Alabama                 116015.34
New York                 98755.56
Michigan                 98196.70
Nevada                   95418.42
South Carolina           94946.24
Kansas                   92713.35
Minnesota                92497.85
Utah                     92071.16
Nebraska                 91556.21
Connecticut              91083.70
Pennsylvania             90442.91
Kentucky                 90281.05
Georgia                  89437.01
North Carolina           87372.13
District of Columbia     49720.36
Louisiana                48836.11
Mississippi              47874.66
Oklahoma                 47668.08
Iowa                     46807.73
Idaho                    45031.14
Maryland                 44926.59
Indiana                  44615.71
Hawaii                   42950.01
Name: t_amt, dtype: float64

In [41]:
#Popularity of Exercise & Fitness products
df[df['services']=='Exercise & Fitness']['products_used'].value_counts()

products_used
Cardio Machine Accessories           445
Yoga & Pilates                       444
Weightlifting Belts                  429
Weight Benches                       424
Stopwatches                          419
Weightlifting Machines               419
Foam Rollers                         418
Exercise Balls                       418
Abdominal Equipment                  411
Medicine Balls                       410
Free Weight Bars                     410
Free Weights                         409
Cardio Machines                      403
Jump Ropes                           400
Weightlifting Machine Accessories    392
Weightlifting Gloves                 390
Gym Mats                             383
Exercise Bands                       370
Name: count, dtype: int64

In [42]:
#Categories with high sales but low average amount
df.groupby('services')['t_amt'].agg(['sum','mean'])

                              sum        mean
services
Air Sports               99316.90  103.455104
Combat Sports           164730.67  101.061761
Dancing                  42603.71  102.907512
Exercise & Fitness      766463.87  103.660247
Games                   374932.70  102.272968
Gymnastics              327225.34  102.385901
Indoor Games            288506.04  103.074684
Jumping                 205842.67  102.155171
Outdoor Play Equipment  294728.28  101.281196
Outdoor Recreation      846678.64  100.999480
Puzzles                  61564.75  100.595997
Racquet Sports          166976.06  103.647461
Team Sports             617461.38  102.738998
Water Sports            531815.97  101.899975
Winter Sports           321973.56  101.217718

In [43]:
#Underperforming services (low total revenue)
df.groupby('services')['t_amt'].sum().sort_values()

services
Dancing                    42603.71
Puzzles                    61564.75
Air Sports                 99316.90
Combat Sports             164730.67
Racquet Sports            166976.06
Jumping                   205842.67
Indoor Games              288506.04
Outdoor Play Equipment    294728.28
Winter Sports             321973.56
Gymnastics                327225.34
Games                     374932.70
Water Sports              531815.97
Team Sports               617461.38
Exercise & Fitness        766463.87
Outdoor Recreation        846678.64
Name: t_amt, dtype: float64